@using CreativeIndustries.Resources
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("rolesList");
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("rolesList")</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a asp-action="Delete" asp-route-id="@role.Id">@SharedLocalizer.GetLocalizedHtmlString("delete")</a>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("addRole")</a>
<a asp-action="UserList">@SharedLocalizer.GetLocalizedHtmlString("usersList")</a>
