@using CreativeIndustries.Resources
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("rolesList");
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("rolesList")</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-light">
                        @SharedLocalizer.GetLocalizedHtmlString("delete")
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<table class="table">
    <td>
        <form asp-action="Create">
            <button type="submit" class="btn btn-sm btn-light">
                @SharedLocalizer.GetLocalizedHtmlString("addRole")
            </button>
        </form>

        <form asp-action="UserList">
            <button type="submit" class="btn btn-sm btn-light">
                @SharedLocalizer.GetLocalizedHtmlString("usersList")
            </button>
        </form>
    </td>
</table>