@using CreativeIndustries.Resources
@model IEnumerable<CreativeIndustries.DS.Entities.User>
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("usersList");
}

<h2>@SharedLocalizer.GetLocalizedHtmlString("usersList")</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">@SharedLocalizer.GetLocalizedHtmlString("accessRights")</a>
            </td>
        </tr>
    }
</table>
