@using CreativeIndustries.Resources
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject LocService SharedLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @SharedLocalizer.GetLocalizedHtmlString("appName")</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CreativeIndustries.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("appName")</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("overview")</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="About">@SharedLocalizer.GetLocalizedHtmlString("about")</a>
                        </li>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        @SharedLocalizer.GetLocalizedHtmlString("admin")
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li><a class="dropdown-item" asp-controller="Users" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("users")</a></li>
                                        <li><a class="dropdown-item" asp-controller="Roles" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("roles")</a></li>
                                        <li><a class="dropdown-item" asp-controller="Company" asp-action="CreateCompany">@SharedLocalizer.GetLocalizedHtmlString("createCompany")</a></li>
                                    </ul>
                                </li>
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            @SharedLocalizer.GetLocalizedHtmlString("partners")
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="dropdown-item" asp-controller="Email" asp-action="SendEmail">@SharedLocalizer.GetLocalizedHtmlString("email")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Company" asp-action="NewsIndex">@SharedLocalizer.GetLocalizedHtmlString("news")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Company" asp-action="EventIndex">@SharedLocalizer.GetLocalizedHtmlString("events")</a></li>
                                            <li><a class="dropdown-item" asp-controller="Company" asp-action="CompanyIndex">@SharedLocalizer.GetLocalizedHtmlString("companies")</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - @SharedLocalizer.GetLocalizedHtmlString("appName") - <a asp-area="" asp-controller="Home" asp-action="Privacy">@SharedLocalizer.GetLocalizedHtmlString("privacy")</a>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
