@using CreativeIndustries.Resources
@using CreativeIndustries.DS.Entities
@model IEnumerable<CreativeIndustries.DS.Entities.CompanyEvent>
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("events");
}

<h4>@SharedLocalizer.GetLocalizedHtmlString("events")</h4>

<table class="table">
    <tr><th>@SharedLocalizer.GetLocalizedHtmlString("name")</th><th>@SharedLocalizer.GetLocalizedHtmlString("description")</th><th>@SharedLocalizer.GetLocalizedHtmlString("author")</th><th></th></tr>
    @foreach (var compEvent in Model)
    {
        <tr>
            <td>@compEvent.Name</td>
            <td>@compEvent.Description</td>
            <td>@compEvent.Author</td>
            <td>
                <a class="btn btn-sm btn-light" asp-action="EditEvent" asp-route-id="@compEvent.Id" method="post">@SharedLocalizer.GetLocalizedHtmlString("edit")</a>
            </td>
            <td>
                <form asp-action="DeleteEvent" asp-route-id="@compEvent.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-light">
                        @SharedLocalizer.GetLocalizedHtmlString("delete")
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
