@using CreativeIndustries.Resources
@using CreativeIndustries.DS.Entities
@model IEnumerable<CreativeIndustries.DS.Entities.CompanyNews>
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("news");
}

<a asp-action="CreateNews">@SharedLocalizer.GetLocalizedHtmlString("addNews")</a>

<table class="table">
    <tr><th>@SharedLocalizer.GetLocalizedHtmlString("name")</th><th>@SharedLocalizer.GetLocalizedHtmlString("description")</th>
        <th>@SharedLocalizer.GetLocalizedHtmlString("publicationDate")</th>
        <th>@SharedLocalizer.GetLocalizedHtmlString("author")</th>
        <th></th>
    </tr>
    @foreach (var news in Model)
    {
        <tr>
            <td>@news.Title</td>
            <td>@news.Description</td>
            <td>@news.PublicationDate</td>
            <td>@news.Author</td>
                <td>
                    <a asp-action="EditNews" asp-route-id="@news.Id">@SharedLocalizer.GetLocalizedHtmlString("edit")</a>
                </td>
                <td>
                    <form asp-action="DeleteNews" asp-route-id="@news.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-light">
                            @SharedLocalizer.GetLocalizedHtmlString("delete")
                        </button>
                    </form>
                </td>
        </tr>
    }
</table>
