@using CreativeIndustries.Resources
@model CreativeIndustries.API.DXS.CreateUserViewModel
@inject LocService SharedLocalizer

@{
    ViewBag.Title = @SharedLocalizer.GetLocalizedHtmlString("addUser");
}

<form asp-action="Create" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("firstName")</label>
    <div class="col-md-10">
        <input type="text" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("lastName")</label>
    <div class="col-md-10">
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    </div>
    <div class="form-group">
    <label class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("email")</label>
    <div class="col-md-10">
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    </div>
    <div class="form-group">
    <label class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("password")</label>
    <div class="col-md-10">
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    </div>
    <div class="form-group">
        <input type="submit" value=@SharedLocalizer.GetLocalizedHtmlString("add") class="btn btn-outline-secondary" />
    </div>
</form>
