@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CreativeIndustries.Resources
@model IEnumerable<CreativeIndustries.DS.Entities.User>
@inject LocService SharedLocalizer

@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("users");
}

<a asp-action="Create">@SharedLocalizer.GetLocalizedHtmlString("addUser")</a>

<table class="table">
    <tr><th>@SharedLocalizer.GetLocalizedHtmlString("email")</th><th>@SharedLocalizer.GetLocalizedHtmlString("personName")</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@user.Id">@SharedLocalizer.GetLocalizedHtmlString("edit")</a>
                <a asp-action="Delete" asp-route-id="@user.Id">@SharedLocalizer.GetLocalizedHtmlString("delete")</a>
                <a asp-action="ChangePassword" asp-route-id="@user.Id">@SharedLocalizer.GetLocalizedHtmlString("changePassword")</a>
            </td>
        </tr>
    }
</table>
